<a href="https://colab.research.google.com/github/ailtiakova/pythonprojects/blob/master/Filtering_%26_Grouping_Practice.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd

df = pd.read_csv('https://raw.githubusercontent.com/SimonCarryer/pandas_tutorial/master/data/dog_registrations.csv')

df['ValidDate'] = pd.to_datetime(df['ValidDate']) # Just formatting the data a little bit nicer

df.head()

                    LicenseType  ...           ValidDate
0         Dog Individual Female  ... 2007-05-01 15:15:00
1         Dog Individual Female  ... 2007-05-01 15:15:00
2  Dog Individual Neutered Male  ... 2007-04-11 15:14:00
3           Dog Individual Male  ... 2007-04-05 15:00:00
4  Dog Individual Spayed Female  ... 2007-05-25 12:15:00

[5 rows x 7 columns]

Filter Data Frame

In [ ]:
colors = df['Color'] == 'BROWN'
df.loc[colors]

                        LicenseType  ...           ValidDate
1             Dog Individual Female  ... 2007-05-01 15:15:00
15            Dog Individual Female  ... 2007-06-07 14:24:00
30     Dog Individual Neutered Male  ... 2007-02-02 13:41:00
32     Dog Individual Spayed Female  ... 2007-10-02 12:31:00
34     Dog Individual Spayed Female  ... 2006-12-27 14:50:00
...                             ...  ...                 ...
97427  Dog Individual Spayed Female  ... 2008-12-15 09:22:00
97432           Dog Individual Male  ... 2009-09-28 16:06:00
97437  Dog Individual Neutered Male  ... 2009-02-11 10:10:00
97444  Dog Individual Spayed Female  ... 2009-03-13 14:28:00
97449           Dog Individual Male  ... 2009-06-03 14:19:00

[11920 rows x 7 columns]

In [ ]:
df[colors].head()

                     LicenseType  ...           ValidDate
1          Dog Individual Female  ... 2007-05-01 15:15:00
15         Dog Individual Female  ... 2007-06-07 14:24:00
30  Dog Individual Neutered Male  ... 2007-02-02 13:41:00
32  Dog Individual Spayed Female  ... 2007-10-02 12:31:00
34  Dog Individual Spayed Female  ... 2006-12-27 14:50:00

[5 rows x 7 columns]

In [ ]:
df['Color'].isin(['BROWN'])

0        False
1         True
2        False
3        False
4        False
         ...
97457    False
97458    False
97459    False
97460    False
97461    False
Name: Color, Length: 97462, dtype: bool

In [ ]:
dates == df['ValidDate'].between('20070501', '20080601')

0        True
1        True
2        True
3        True
4        True
         ...
97457    True
97458    True
97459    True
97460    True
97461    True
Name: ValidDate, Length: 97462, dtype: bool

In [ ]:
df.loc[dates]

                        LicenseType  ...           ValidDate
0             Dog Individual Female  ... 2007-05-01 15:15:00
1             Dog Individual Female  ... 2007-05-01 15:15:00
4      Dog Individual Spayed Female  ... 2007-05-25 12:15:00
5      Dog Individual Neutered Male  ... 2007-06-19 12:13:00
6      Dog Individual Spayed Female  ... 2007-07-13 13:35:00
...                             ...  ...                 ...
66214  Dog Individual Spayed Female  ... 2008-03-31 13:23:00
66215           Dog Individual Male  ... 2008-05-27 12:15:00
66216  Dog Individual Spayed Female  ... 2008-01-16 15:05:00
78817  Dog Individual Neutered Male  ... 2008-02-19 13:19:00
86480    Dog Lifetime Neutered Male  ... 2008-05-01 09:24:00

[40482 rows x 7 columns]

In [ ]:
license == df['LicenseType'].isnull()

0        False
1        False
2        False
3        False
4        False
         ...
97457    False
97458    False
97459    False
97460    False
97461    False
Name: LicenseType, Length: 97462, dtype: bool

In [ ]:
df['Breed'].str.contains('MIX') # filtering

0        False
1        False
2         True
3        False
4         True
         ...
97457     True
97458    False
97459    False
97460    False
97461    False
Name: Breed, Length: 97462, dtype: bool

Series is like a column, Array is like a list

In [ ]:
# Make a Series object that holds random numbers between 0 and 9
random_numbers = pd.Series(pd.np.random.randint(0, 25, size=len(df)))

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:2: FutureWarning: The pandas.np module is deprecated and will be removed from pandas in a future version. Import numpy directly instead

In [ ]:
numbers = pd.np.random.randint(0, 25, size=100) #saves as list without pd.Series
print(numbers)

[14  1  7 24 10  5 22 22 18 23 15 24 17 18 10 20 14 16 16 10 18 21 22 22
  3  1 11 16  9  6  3 13 23 19  6 13  9 16  2 19 24  8  9 10 12 12 12 16
 12  6 12 10 12  5 19 19 14  4  0  3 14 24 14 13 21 15  0  6  1 19 19 12
 10 22 13 17 13  4  7  1  3 21 13  2  1  3  2  0  1 16 21 16  6  2 22 20
 13  0  0  0]

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:1: FutureWarning: The pandas.np module is deprecated and will be removed from pandas in a future version. Import numpy directly instead
  """Entry point for launching an IPython kernel.

In [ ]:
df['OwnerZip'].sort_values()

0        15001
66219    15001
66220    15001
66221    15001
66222    15001
         ...
29859    16229
97459    17821
29860    19350
97460    32828
97461    32828
Name: OwnerZip, Length: 97462, dtype: int64

In [ ]:
df.sort_values(by='OwnerZip', ascending=True)

                        LicenseType  ...           ValidDate
0             Dog Individual Female  ... 2007-05-01 15:15:00
66219  Dog Individual Neutered Male  ... 2009-05-04 10:51:00
66220  Dog Individual Spayed Female  ... 2009-06-04 16:14:00
66221           Dog Individual Male  ... 2009-02-03 15:05:00
66222  Dog Individual Spayed Female  ... 2009-02-03 15:05:00
...                             ...  ...                 ...
29859  Dog Individual Neutered Male  ... 2007-03-06 08:59:00
97459           Dog Individual Male  ... 2008-12-15 11:53:00
29860  Dog Individual Neutered Male  ... 2007-11-07 08:34:00
97460  Dog Individual Neutered Male  ... 2009-03-12 14:23:00
97461  Dog Individual Spayed Female  ... 2009-09-21 11:57:00

[97462 rows x 7 columns]

In [ ]:
df['Breed'].value_counts().sort_index()

.                        18
AFFENPINSCHER             5
AFGHAN HOUND             12
AINU                      2
AIREDALE TERRIER        187
                       ...
WHIPPET                  47
WIREHAIR PT GRIFFON      19
XOLOITZCUINTLI            1
YORKSHIRE TERR MIX      469
YORKSHIRE TERRIER      1700
Name: Breed, Length: 291, dtype: int64

Problem Two¶
* Show the DataFrame sorted by the ValidDate
* Show the LicenseTypes, sorted descending
* Show the DataFrame, sorted by ExpYear and ValidDate
* Show the dog names, sorted by zip code

In [ ]:
df.sort_values(by='ValidDate', ascending=True).head()

                        LicenseType  ...           ValidDate
11400  Dog Individual Neutered Male  ... 2006-12-12 09:00:00
14396  Dog Individual Neutered Male  ... 2006-12-12 09:07:00
14438  Dog Individual Neutered Male  ... 2006-12-12 09:11:00
12900           Dog Individual Male  ... 2006-12-12 09:15:00
12140         Dog Individual Female  ... 2006-12-12 09:40:00

[5 rows x 7 columns]

In [ ]:
df.sort_values(by='LicenseType', ascending=False).head()

                                          LicenseType  ...           ValidDate
26851  Dog Senior Citizen or Disability Spayed Female  ... 2007-04-10 10:53:00
22091  Dog Senior Citizen or Disability Spayed Female  ... 2007-01-12 11:31:00
31654  Dog Senior Citizen or Disability Spayed Female  ... 2007-12-18 07:39:00
31653  Dog Senior Citizen or Disability Spayed Female  ... 2007-12-18 07:39:00
31652  Dog Senior Citizen or Disability Spayed Female  ... 2007-12-18 07:39:00

[5 rows x 7 columns]

In [ ]:
df.sort_values(by=['ExpYear', 'ValidDate']).head()

                        LicenseType  ...           ValidDate
11400  Dog Individual Neutered Male  ... 2006-12-12 09:00:00
14396  Dog Individual Neutered Male  ... 2006-12-12 09:07:00
14438  Dog Individual Neutered Male  ... 2006-12-12 09:11:00
12900           Dog Individual Male  ... 2006-12-12 09:15:00
6448   Dog Individual Spayed Female  ... 2006-12-12 09:40:00

[5 rows x 7 columns]

In [ ]:
dogname = df.sort_values(by='OwnerZip')
dogname['DogName'].head()

0               BUTTER
66219            CHEVY
66220            LACEY
66221    BAILEY MARTIN
66222     ANNIE MARTIN
Name: DogName, dtype: object

In [ ]:
df.groupby('Color').count()

                  LicenseType  Breed  DogName  OwnerZip  ExpYear  ValidDate
Color
.                         489    489      489       489      489        482
APRICOT                   392    392      392       392      392        389
BEIGE                     314    314      314       314      314        312
BLACK                   15916  15916    15916     15916    15916      15861
BLACK WITH WHITE          119    119      119       119      119        119
...                       ...    ...      ...       ...      ...        ...
WHITE/ORANGE               12     12       12        12       12         12
WHITE/RED                 610    610      610       610      610        604
WHITE/TAN                1205   1205     1205      1205     1205       1202
WHITE/YELLOW              209    209      209       209      209        208
YELLOW                   2567   2567     2567      2567     2567       2560

[80 rows x 6 columns]